
<?xml version="1.0"?>
<robot name="box006">
	<link name="base">
		<collision>
			<geometry>
				<mesh filename="../processed/box006.obj"/>
			</geometry>
			<origin xyz="0 0 0"/>
		</collision>
		<inertial>
			<mass value="0.0016308840525794278"/>
			<inertia ixx = "0.001" ixy = "0" ixz = "0"  iyy = "0.001" iyz = "0" izz = "0.001" />
			<origin xyz="1.0129374704718266e-18 0.0001514999999999989 0.0455665"/>
		</inertial>
	</link>
</robot>