
<?xml version="1.0"?>
<robot name="box001">
	<link name="base">
		<collision>
			<geometry>
				<mesh filename="../processed/box001.obj"/>
			</geometry>
			<origin xyz="0 0 0"/>
		</collision>
		<inertial>
			<mass value="0.00050388158403072"/>
			<inertia ixx = "0.001" ixy = "0" ixz = "0"  iyy = "0.001" iyz = "0" izz = "0.001" />
			<origin xyz="-3.0000000000024984e-06 6.249999999999977e-05 0.07010400000000001"/>
		</inertial>
	</link>
</robot>