
<?xml version="1.0"?>
<robot name="box019">
	<link name="base">
		<collision>
			<geometry>
				<mesh filename="../processed/box019.obj"/>
			</geometry>
			<origin xyz="0 0 0"/>
		</collision>
		<inertial>
			<mass value="0.000582139707702"/>
			<inertia ixx = "0.001" ixy = "0" ixz = "0"  iyy = "0.001" iyz = "0" izz = "0.001" />
			<origin xyz="1.9500000000000105e-05 0.0 0.022474999999999995"/>
		</inertial>
	</link>
</robot>