
<?xml version="1.0"?>
<robot name="cylinder016">
	<link name="base">
		<collision>
			<geometry>
				<mesh filename="../processed/cylinder016.obj"/>
			</geometry>
			<origin xyz="0 0 0"/>
		</collision>
		<inertial>
			<mass value="0.0008713317242945506"/>
			<inertia ixx = "0.001" ixy = "0" ixz = "0"  iyy = "0.001" iyz = "0" izz = "0.001" />
			<origin xyz="3.4406646702797374e-05 -4.758878769409999e-05 0.050946143341202545"/>
		</inertial>
	</link>
</robot>