
<?xml version="1.0"?>
<robot name="cylinder006">
	<link name="base">
		<collision>
			<geometry>
				<mesh filename="../processed/cylinder006.obj"/>
			</geometry>
			<origin xyz="0 0 0"/>
		</collision>
		<inertial>
			<mass value="0.0006974207678379009"/>
			<inertia ixx = "0.001" ixy = "0" ixz = "0"  iyy = "0.001" iyz = "0" izz = "0.001" />
			<origin xyz="-1.153707440569963e-07 -8.672957265580354e-05 0.043808973779343896"/>
		</inertial>
	</link>
</robot>