
<?xml version="1.0"?>
<robot name="cylinder013">
	<link name="base">
		<collision>
			<geometry>
				<mesh filename="../processed/cylinder013.obj"/>
			</geometry>
			<origin xyz="0 0 0"/>
		</collision>
		<inertial>
			<mass value="0.0010067561028345839"/>
			<inertia ixx = "0.001" ixy = "0" ixz = "0"  iyy = "0.001" iyz = "0" izz = "0.001" />
			<origin xyz="1.014738372583081e-05 3.817439388178577e-05 0.06834456231131014"/>
		</inertial>
	</link>
</robot>