
<?xml version="1.0"?>
<robot name="cylinder019">
	<link name="base">
		<collision>
			<geometry>
				<mesh filename="../processed/cylinder019.obj"/>
			</geometry>
			<origin xyz="0 0 0"/>
		</collision>
		<inertial>
			<mass value="0.00021813640633771295"/>
			<inertia ixx = "0.001" ixy = "0" ixz = "0"  iyy = "0.001" iyz = "0" izz = "0.001" />
			<origin xyz="1.0412964170268057e-05 -1.634791801154242e-05 0.07439731254152944"/>
		</inertial>
	</link>
</robot>