
<?xml version="1.0"?>
<robot name="cylinder017">
	<link name="base">
		<collision>
			<geometry>
				<mesh filename="../processed/cylinder017.obj"/>
			</geometry>
			<origin xyz="0 0 0"/>
		</collision>
		<inertial>
			<mass value="0.0009125562198376947"/>
			<inertia ixx = "0.001" ixy = "0" ixz = "0"  iyy = "0.001" iyz = "0" izz = "0.001" />
			<origin xyz="-5.5745640898407535e-06 -7.220752466673514e-05 0.07178003729804965"/>
		</inertial>
	</link>
</robot>