
<?xml version="1.0"?>
<robot name="cylinder014">
	<link name="base">
		<collision>
			<geometry>
				<mesh filename="../processed/cylinder014.obj"/>
			</geometry>
			<origin xyz="0 0 0"/>
		</collision>
		<inertial>
			<mass value="0.0007016944053458659"/>
			<inertia ixx = "0.001" ixy = "0" ixz = "0"  iyy = "0.001" iyz = "0" izz = "0.001" />
			<origin xyz="6.976620527148536e-06 -4.915629892069068e-05 0.07301406857021261"/>
		</inertial>
	</link>
</robot>